.unload {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 15px;
  font-size: 14px;
  line-height: 1.2;
  &__left {
    display: grid;
    row-gap: 15px;
  }
  &__right {
  }
  &__desc {
    padding: 15px;
  }
  
  &__desc-title {
    font-size: 18px;
  }
  
  &__desc-subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
  
  &__desc-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 70%;
  }
  
  &__card {
    cursor: pointer;
    padding: 15px;
    border-left: 10px solid;
  }
  &__info {
    position: sticky;
    top: 15px;
  }
  &__download {
    padding: 15px;
    position: sticky;
    top: 15px;
  }
  &__download-title {
    font-size: 16px;
  }
  &__download-link {
    margin-right: 15px;
  }
  &__download-btn {
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
  }
}

